header h1 span {
    font-family: 'Poppins', sans-serif;
    font-size: 90px;
    margin-right: 100px;
    padding-right: 50px;

}

header {
    background-color: silver;
}

header h1 {
    font-family: 'Noto-Naksh-Arabic', serif;
    text-align: right;
    font-size: 90px;
    margin-left: 100px;
    padding-right: 50px;
    text-align: center;
    margin-top: 0;
}

#umar {
    width: 100%;
    height: 120px;
}

#nav-center {
    margin: 0 auto;
    display: inline-block;
}

nav li {
    list-style-type: none;
    color: black;
    text-align: center;
    float: left;
    padding-right: 50px;
    font-size: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 90%;
    font-family: 'Roboto', sans-serif;
    margin-top: 5%;
}

nav a:hover {
    font-weight: bold;
}

#nav-block {
    width: 100%;
    height: 70px;
    background-color: black;
    text-align: center;
    border: none;
}

#home {
    clear: both;
    margin-top: 50px;
}

.text-info h2 {
    font-family: 'Poppins', sans-serif;
}

.text-info h3 {
    font-family: 'Poppins' sans-serif;
}

.text-info {
    font-family: 'Roboto', sans-serif;
    width: 70%;
    border: none;
    display: inline-block;
    height: 630px;
}

.external-links-or-images {
    border: none;
    width: 30%;
    float: right;
    height: 630px;

}

.external-links-or-images img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*
#egypt {
    width: 50%;
}

#gold-dome {
    width: 50%;
}
*/

#map {
    width: 100%;
    height: auto;
    margin-top: 25%;
}

#history {
    background-color: silver;
    height: fit-content;
}

@media screen and (max-width: 1300px) {
    #map {
        display: none;
    }
    #wiki {
        margin: auto;
        display: none;
        clear: both;
    }
}

@media screen and (max-width: 1000px) {
    .external-links-or-images {
        display: none;
    }

    .text-info {
        width: 100%;
    }
}

@media screen and (max-width: 880px) {
    #mbc-omar-trailer > iframe {
        width: 100%;
    }
}

@media screen and (max-width: 670px) {
    #umar h1 span {
        font-size: 100%;
        margin: 0;
        padding: 0;
    }
    #umar span {
        font-size: 100%;
        margin: 0;
        padding: 0;
    }
}